* {
    background-color: #24283b;
    font-family: "JetBrainsMono Nerd Font", Courier, monospace;
    color: #a9b1d6;
    font-size: 18px;
}

img {
    margin: 32px auto;
    height: 350px;
    width: auto;
    display: block;
}

.main {
    width: 700px;
    margin: 16px auto;
    margin-bottom: 120px;
    margin-top: 50px;
}

h1 {
    color: #f7768e;
    font-size: 42px;
}

h2 {
    color: #9ece6a;
}

a {
    color: #2ac3de;
}
